/* General */

* {
  font-size: 18px;
}

h1 {
  color: black;
  font-size: 64px;
  font-weight: 300;
}

h3 {
  color: black;
  font-size: 24px;
  font-weight: 600;
}


p {
  color: black;
  font-size: 18px;
  font-weight: 400;
}

t {
  color: black;
  font-weight: 600;
}

a {
  color: #cb3c6f;
  text-decoration: none;
  word-wrap: break-word;
}

a:hover, a:focus {
  color: #cb3c6f;
  text-decoration: underline;
}

li {
  color: black;
  font-size: 18;
  font-weight: 400;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

/* navbar */

.navbar {
  padding: 0px;
  background-color: #2f2f2f;
}

.navbar .navbar-brand {
  padding: 12px;
  color: white;
  font-size: 18px;
}

.navbar-nav .nav-link {
  padding: 12px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
  background: #cb3c6f;
}

.navbar a:hover, a:focus {
  text-decoration: none;
}

/* header */

#headerbase {
  background-color: black;
}

#headerwrap {
  background: url(../figs/head.png);
  background-position: center center;
  background-size: cover;
  margin-top: 0px;
  padding-top: 200px;
  padding-bottom: 180px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  min-height: 400px;
  width: 100%;
}

#headerwrap h1 {
  color: white;
}

#headerwrap h3 {
  color: white;
  font-weight: 400;
}

/* Intro */

#intro {
  background: #3f3f3f;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

#intro p {
  color: white;
}

#intro a {
  color: #f08baf;
}

#intro a.btn {
  color: white;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

#intro a.btn:hover, a.btn:focus {
  color: black;
  text-decoration: none;
}

/* Sections */

.section {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.section p {
  padding-left: 20px;
}

/* publications */

#publications a.btn {
  color: black;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#publications a.btn:hover, a.btn:focus {
  color: white;
  text-decoration: none;
}

/* contact */

#contact {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3f3f3f;
  text-align: center;
}

#contact h3 {
  color: white;
}

#contact p {
  color: white;
}

#contact t {
  color: white;
}

/* copyrights */

#copyrights {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2f2f2f;
  text-align: center;
}

#copyrights p {
  color: white;
}

/* research */

#research {
  padding-top: 50px;
  min-height: 100vh;
}

#research p {
  padding-left: 0px;
}

#research img {
  padding-top: 10px;
}

/* album */

#album {
  padding-top: 50px;
  min-height: 100vh;
}

.carousel-caption h3 {
  color: white;
}

#album p {
  padding-left: 0px;
}

#album img {
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 20px;
}